/* Fuente general */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

/* Contenedor principal izquierdo */
.login-container {
  width: 53%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Botón de regresar */
.regresar-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: #5F7DDE;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  border-right: 5px solid #2e4ba5;
  border-bottom: 5px solid #2e4ba5;
  border-radius: 0 10px 10px 0;  
}


.regresar-container img {
  width: 40px; 
}

/* Título */
.login-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000;
}

/* Formulario */
.login-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 300px;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  width:90%;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  font-size: 1.1rem;
}

/* Botón ingresar */
.boton-login {
  background-color: #dc931d;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border-right: 5px solid #b17400;
  border-bottom: 5px solid #b17400;
  transition: 0.2s ease;
}

.boton-login:hover {
  background-color: #2e4ba5;
  border-right: 5px solid #1c316f;
  border-bottom: 5px solid #1c316f;
}
.input-group {
  position: relative;
}

.eye-icon {
  position:absolute;
  width: 40px;
  position: absolute;
  right: 0px;
  margin-right: 280px;
  top: 57%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

/* Contenedor derecho */
.Lado-derecho-container {
  width: 50%;
  background: linear-gradient(to left, #5F7DDE 90%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Título derecho */
.Lado-derecho-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Icono */
.Lado-derecho-container img {
  width: 80px;
  margin-bottom: 15px;
}

/* Texto */
.Lado-derecho-container p {
  width: 60%;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;

}

/* Botón registrar */
.Lado-derecho-container button {
  background-color: #2e4ba5;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 250px;
  border-right: 5px solid #1c316f;
  border-bottom: 5px solid #1c316f;
  transition: 0.2s ease;
}

.Lado-derecho-container button:hover {
  background-color: #dc931d;
  border-right: 5px solid #b17400;
  border-bottom: 5px solid #b17400;
}

.Lado-derecho-container button a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.Error{
  text-align: center;
  margin-bottom: 5px;
  color: rgb(255, 104, 104);
  font-size: 0.9rem;
  font-weight: 600;
}
.shake {
    animation: shake 0.4s linear;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
}
@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  .login-container,
  .Lado-derecho-container {
    width: 100%;
    height: 50%;
  }

  .Lado-derecho-container {
    background: linear-gradient(to top, #5F7DDE 80%, #ffffff 100%);
  }
}
