.IngresarPago {
    width: 90%;
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #263478;
    text-align: center;
}
h1{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 3rem; 
}
.descripcion-pago {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.info-pago p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.1rem;
    margin: 5px 0;
}

.estado-proceso ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    text-align: left;
}

.estado-proceso li {
    margin-bottom: 6px;
}

.label-file {
    display: inline-block;
    background: #263478;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#archivo {
    display: none;
}

.btn-pago {
    background: #485BB7;
    color: white;
    border: none;
    height: 40px;
    width: 240px;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Montserrat" ;
    border-radius: 5px;
    transition: .3s;
}

.btn-pago:hover {
    opacity: 0.8;
}

.nota {
    margin-top: 10px;
    display: block;
    font-family: "Roboto";
    font-weight: 300; 
    font-size: 1.1rem; 
}

#mensaje-error {
    margin-top: 10px;
    color: #e76f6f;
    font-family: "Roboto";
    font-weight: 500; 
    font-size: 1.1rem;
}
